#root {
  max-width: 1280px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6rem;
  padding-right: 1.8rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.footer-signature {
  color: #888;
  font-size: 0.7rem;
}

.header {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.chat-container {
  display: flex;
  flex-flow: column;
  height: 55vh;
  width: 60vw;
}

.user-message {
  height: 10%;
  background-color: #282C34;
  border: 1px solid #3D434F;
  border-radius: 0 0 8px 8px;
  outline: none;
  resize: none;
}

.user-text {
  color: #C0FF9C;
}

.assistant-response {
  height: 90%;
  background-color: #22252A;
  text-align: left;
  border: 1px solid #3D434F;
  border-radius: 8px 8px 0 0;
  overflow-y: auto;
}

.assistant-text {
  color: #ABB2BF;
}

.user-message, 
.assistant-response {
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  font-family: inherit;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .logo {
    height: 5rem;
  }
  .chat-container {
    height: 60vh;
    width: 70vw;
  }
  .user-message,
  .assistant-response {
    padding: 0.6rem 1.25rem;
    font-size: 0.8rem;
  }

}

@media (max-width: 476px) {
  h1 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  .logo {
    height: 4rem;
  }
  .chat-container {
    height: 65vh;
    width: 80vw;
  }
  .user-message,
  .assistant-response {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }
}