#root {
  max-width: 1280px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.footer-signature {
  color: #888;
  font-size: 0.7rem;
}

nav {
  display: flex;
  justify-content: start;
}

.content-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.chat-container {
  display: flex;
  flex-flow: column;
  height: 50vh;
  width: 60vw;
}

.user-message {
  height: 20%;
  background-color: #282C34;
  border: 1px solid #3D434F;
  border-radius: 0 0 8px 8px;
  outline: none;
  resize: none;
}

.assistant-response {
  height: 80%;
  background-color: #22252A;
  text-align: left;
  border: 1px solid #3D434F;
  border-radius: 8px 8px 0 0;

}

.user-message, 
.assistant-response {
  color: #ABB2BF;
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  font-family: inherit;
}
